
.hdr{
    background: #8A004D;
    color: #fff;
}
body {
    overflow-y: auto;
    background: #fff;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    color: rgb(211, 211, 211);
}
body.popup-open {
    overflow: hidden;
}


.container:hover .card:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 300px; /* Adjust height as needed */
    margin: 0 0 40px 0; /* Adjust spacing as needed */
    transition: transform 1500ms;
    transform-style: preserve-3d;
    border: none!important;
}
.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;

}

.front {
    background-image: url('../../daily_affirmations_georgina/img/image00001.png');
    background-size: cover;
    background-position: center;

}


.back {
    background-color: #8A004D;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    word-wrap: break-word;
}

.back h1,
.back p {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem; /* Set a base font size */
}

@media (min-width: 576px) {
    .back h1,
    .back p {
        font-size: 1.5rem;
    }
}
.refresh-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block; /* Change display to inline-block */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.5s; /* Added transform transition */
    outline: none;
}

.refresh-btn:focus {
    outline: none;
    box-shadow: none;
}

.refresh-btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.refresh-icon {
    width: 20px;
    height: 22px;
    fill: #8A004D;
}
.rotate {
    transform: rotate(360deg);
}
.card.shake {
    animation: shake 1s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-1deg);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(1deg);
    }
}
.close_btn{
    background-color: #8A004D;
    border-radius: 2rem;
    color: #fff;
    border: none;
    width: 100px;
    max-width: 100px;
    height: auto;
    padding: 3px;
    align-items: center;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 45%;
    width: 100%;
    max-height: 90vh;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    border-radius: 2rem;

}
.popup h1,
.popup h3 {
    margin: 0;
    font-style: italic; /* Italic */
    font-weight: bold; /* Bold */
    text-align: center;
    color: #000000;
}
.main_p{
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.hover_p{
color: #8A004D;
    margin: 15px 0 20px 0;
}
body.popup-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Set a transparent background */
    backdrop-filter: blur(3px); /* Adjust the blur amount */
    z-index: 998; /* Ensure the blur is behind the popup */

}
.pop_st{
    color: #8A004D;
    display: flex; /* Add display flex */
    flex-direction: column; /* Column layout */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */

}
.pop_st button{
    margin-top: 10px;
}
.ftr{
    background: #8A004D;
    color: #fff;
}
.ftr h5{
    font-size: 0.7rem;
}










